
button {
color: blue;
background-color: white;

}
body{
    background-color: teal;
font-family: Arial, Helvetica, sans-serif;
margin: 0%;
padding: 0%;


}
header{
    color:black;
  padding :10px;
background-color:blueviolet;

}
section{
   background-color: black;
    padding: 10px;
    color: white;
}
footer{
    background-color:blueviolet;
    padding: 10px 20px;
    color:black;

}
ul{
    padding: 0%;
    margin: 0%;
   list-style-type: none ;

}
li{
    display: inline-block;
    margin: 20px 200px 20px 200px;
}
  h1{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
  }


img {
    float: left;
    
       }


.container {
        width: 50%;
        height: 15rem;}
        .clearfix {
            overflow: auto;}
           
            .float-right {
                float: right;
                width: 300px;
                height: 200px;
                background-color: red;
                margin: 0 0 0.5rem 0.5rem}

                .features{
                    padding: 20px;
                 
                   display: flex;
                   flex-direction: row;
                }
                .features figure{
                margin: auto;
                width: 100px;
                margin:auto ;
                }
                .features figure img{
                    width: 300px;
                    border-radius: 30px;
                    margin: auto;
                    padding: 0;
                   
                   
                    
                }